<div class="page-container">
    <app-simple-header></app-simple-header>
    <div class="title-container">
        <div class="title">
            <span>Ingresa a Musical Events para comprar</span>
        </div>
    </div>
    <div class="content-container">
        <div class="card box-shadow">
            <div class="form-title-container">
                <span>INICIO DE SESIÓN</span>
            </div>
            <form [formGroup]="loginForm">
                <mat-form-field class="email" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
                <mat-form-field class="password" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <div class="forgot-password">
                    <span routerLink="/forgot-password">¿Olvidaste tu contraseña?</span>
                </div>
                <button mat-flat-button class="box-shadow">
                    INGRESAR
                </button>
                <div class="register">
                    <span>Si no tienes cuenta <span class="text-link">registrate</span> </span>
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</div>